<main>
	<h2>Handmade, Fresh, Daily!</h2>

		{{#each donuts}

			<div class="donut-container">

				{{this.img}

				<h3>   <a href='/donuts/{{this._id}}'>{{this.name}}</a></h3>

				<p>$ {{this.price}} each </p>

			</div>

		{{/each}}


</main>
